@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
/* Bootstrap */

/* app style */
#app {
  background-color:rgba(20, 131, 20, 0.527);   
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: lime;
}

.card{
  margin: auto;
}

.buttons-box a{
  border: 1px solid;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
/* Universal selector */
/* Custom variables */
::-webkit-scrollbar {
  display: none;
}
/* Select all images */
img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
/* logo */
img[alt="logo"] {
  width: 5rem;
}
/* Wrapper */
:is(.wrapper) {
  display: grid;
  grid-template-rows: auto minmax(100dvh, 100%) auto;
}
:root {
  --primary: black;
  --secondary: ;
}
/*section  */
section {
  scroll-margin-block: 5rem;
  padding:50px;
  }

/*testimonial section*/
img[alt="testimonial-img"]{
  width: 10rem;
}

/* media query */
@media screen and (width<800px) {
  #landing .row {
    display: block;
    height: auto;
  }
}
 /* .card {
  width: 18rem;
  box-shadow: 5px 5px 20px rgb(117, 33, 33);

  
}  */
#contact{
  margin: 0;
  padding: 0;
  
}
/* .container{
  background-color: #2c5049;
} */
::-webkit-scrollbar{
  display:none ;
}
 */
:is(.nav-link) {
  color: gold; /* Change the text color to gold */
  &:hover{
      color: white;
  }
}
.navbar, footer{
  background-color: rgba(17, 122, 17, 0.285);
  color: black;
}

 
